@page "{pageNumber=1}/{query?}"
@using Microsoft.AspNetCore.Mvc.TagHelpers
@model FilesPageModel

@{
    ViewData["Title"] = "Files";
}

@section breadcrumb
{
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a asp-page="/User/Profile">Profile @User.Identity?.Name</a>
        </li>
        <li class="breadcrumb-item">
            <a asp-page="/User/Generate">Generate audit data</a>
        </li>
        <li class="breadcrumb-item">
            <a asp-page="/Events/Files">List alarms</a>
        </li>
        <li aria-current="page"
            class="breadcrumb-item active">
            List of audit events - files
        </li>
    </ol>
}

<h3>Alerts</h3>

<div class="container">
    <input aria-label="search term"
           class="form-control"
           hx-get
           hx-indicator="#indicator"
           hx-swap="outerHtml"
           hx-target="#grid"
           hx-trigger="keyup changed delay:300ms"
           id="tbQuery"
           name="query"
           value="@Model.Query"
           placeholder="enter search term to get the results"
           type="text">
    <div class="row mt-2">
        @await Html.PartialAsync("_FilesResult", Model.FilesModel)
        <img alt="tail spin"
             class="htmx-indicator"
             id="indicator"
             src="~/svg-loaders/tail-spin.svg">
    </div>
</div>

@section Scripts
{
    @await Html.PartialAsync("_HtmxScripts")
}